<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokedex</title>
    <link rel="stylesheet" href="/detalhes.css" type="text/css" />
  </head>
  <body>
    <footer>
      <H1>P O k E D E X </H1>
      <h4>Uma Listagem de todos os POKEMONS para você!</h4>
    </footer>
    <main>
      <% pokemonAtual.forEach(item => { %>
      <div id="card-container">
        <div id="top-card">
          <span> <%= item.num %> </span>
          <span> <%= item.id %> </span>
        </div>

        <div id="main-card">
          <img id="card" src="<%= item.img %> " alt="<%= item.name %> " />
          <span><h2 id="nome"><%= item.name %></h2></span>
          <span>
            <p><b>Altura</b> <%= item.weight%></p>
          </span>
          <span>
            <p><b>Peso</b> <%= item.height %></p>
          </span>
          <span>
            <p><b>Fraquezas</b> <%= item.weaknesses %></p>
          </span>
          <span>
            <p><b>Spawn %</b> <%= item.spawn_chance %></p>
          </span>
          <span>
            <p><b>Média de ovos</b> <%= item.avg_spawns %></p>
          </span>
          <span
            ><p><b> Tipo:</b> <%= item.type %></p>
          </span>
        </div>

        <div id="footer-card"></div>
      </div>
      <% }) %>
    </main>
  </body>
</html>
